<ng-container *ngIf="boardInfo$ | async as boardInfo">
  <div>
    <div class="board-info">
      <strong>게시글 작성</strong>
      <span class="divider"></span>
      <p>{{boardInfo.aka}}</p>
    </div>
  </div>
  <div class="wrapper" *ngIf="article$ | async as article">
    <app-rg-post-editor [boardName]="boardInfo.name" [article]="article"></app-rg-post-editor>
    <div class="edit-actions">
      <button class="mat-button" (click)="previewArticle()">미리보기</button>
      <button class="mat-button" (click)="cachingArticle()">임시저장</button>
      <button class="mat-flat-button" (click)="submit()">작성등록</button>
    </div>
  </div>
</ng-container>
