.board-info {
  padding: 2rem 0.5rem;
}

.board-info strong {
  display: block;
  font-size: 3.5rem;
  font-weight: 300;
  color: #555;
  margin-bottom: 0.5rem;
}

.board-info p {
  color: #777;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
}

.edit-actions {
  text-align: right;
}

.mat-button {
  border: none;
  margin: 1rem 0 .5rem 0;
  background-color: #fff;
  color: #f2ad3c;
  box-shadow: none;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  width: 7rem;
}

.mat-flat-button {
  background-color: #f2ad3c;
  color: #fff;
  box-shadow: none;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  width: 7rem;
}
