:host{
  position: relative;
}
:host>div {
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .03);
  transition: 0.375s;
  position: relative;
}

:host>div:hover {
  transition: 0.375s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .16);
  border: 1px solid rgba(0, 0, 0, .09);
  transform: scale(1.018, 1.018);
}

:host>div figure {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

:host>div figure img {
  width: 100%;
  max-height: 100%;
}

:host>div .summary {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: 0.375s;
}

:host>div:hover .summary {
  transition: 0.375s;
  background-color: rgba(0, 0, 0, 0.8);
}

:host>div .summary .title {
  padding: 0.875rem;
}

:host>div .summary .title h4 {
  margin: 0;
  font-size: 85%;
  font-weight: 400;
  color: #fff;
}

:host>div .summary .reg-date {
  padding: 0.875rem;
  padding-top: 0;
  font-size: 80%;
  color: #fff;
}
