<div>
  <a [routerLink]="['/board', boardName, 'article', article.cid]" queryParamsHandling="merge">
    <figure>
      <img [src]="getImageUrlFromFileList()">
    </figure>
    <div class="summary">
      <div class="title">
        <h4>{{article.title}}</h4>
      </div>
      <div class="reg-date">
        <span [pydate]='article.regDate' [format]="'yyyy/mm/dd'">{{article.regDate}}</span>
      </div>
    </div>
  </a>
</div>
