<div class="wrapper" #carousel>
  <div appUpRiseMotion class="category-description">
    <strong>우리는 연구합니다</strong>
    <div class="category-summary" [ngClass]="{active: __currentIndex == 0}">
      <h4>경영진단 / 성과평가 연구분과</h4>
      <div>
        <ul>
          <li>공공DB 구축 및 빅데이터 분석을 통한 정책 수요 분석과 이에 기반한 공공정책 개발</li>
          <li>공공기관 조직진단 및 경영진단, 성과평가</li>
          <li>공공기관 및 지방자치단체 중장기 발전계획 수립 </li>
          <li>지방자치단체 공약이행계획 수립 및 정책수요자 만족도 조사</li>
          <li>지방자치단체 중기 재정계획 수립</li>
        </ul>
      </div>
    </div>
    <div class="category-summary" [ngClass]="{active: __currentIndex == 1}">
      <h4>지역산업 / 기술경영 연구분과</h4>
      <div>
        <ul>
          <li>정부 및 지자체의 지역활성화 정책개발</li>
          <li>지역산업진흥정책사업 실행계획, 성과제고 방안 연구 </li>
          <li>지역별 산업발전전략 수립을 위한 실태조사 </li>
          <li>지역혁신체계 구축방안 연구</li>
          <li>지역특구 및 규제프리존제도 개선방안 연구</li>
          <li>테크노파크 수출전략 수립을 위한 지역조사</li>
        </ul>
      </div>
    </div>
    <div class="category-summary" [ngClass]="{active: __currentIndex == 2}">
      <h4>사회적경제 / 도시재생 연구분과</h4>
      <div>
        <ul>
          <li>사회적경제 종합 실태조사와 Data base 구축 </li>
          <li>사회적경제 중장기 발전계획</li>
          <li>사회적 기술 벤처기업 육성방안 수립</li>
          <li>마을공동체 성과분석 및 활성화 방안 연구</li>
          <li>구도심 활성화 등 도시재생 계획 수립 </li>
          <li>전통시장 및 상점가 활성화 방안 연구</li>
        </ul>
      </div>
    </div>
    <div class="category-summary" [ngClass]="{active: __currentIndex == 3}">
      <h4>교육 / 문화 / 상호문화 연구분과</h4>
      <div>
        <ul>
          <li>외국인주민 관련 지역 현안 문제 해결과 지역사회통합을 위한<br>정책 개발 추진 및 지역발전과 연계방안 도출</li>
          <li>외국인주민(중국동포) 실태조사를 통한 지역 내 현황과 특성 및 생태계 등 파악</li>
          <li>교육청 및 지자체의 교육문화 정책 연구</li>
          <li>이주배경청소년 실태조사 및 교육방안 연구</li>
          <li>청년정책 수립을 위한 실태조사와 발전방안 연구</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="image-list" appUpRiseMotion>
    <ul #carouselSlide>
      <li [ngClass]="{active: __currentIndex == 0}">
        <figure (click)="moveTo(0)">
          <img src="/assets/images/category1.jpeg">
          <figcaption>경영진단</figcaption>
        </figure>
      </li>
      <li [ngClass]="{active: __currentIndex == 1}">
        <figure (click)="moveTo(1)">
          <img src="/assets/images/category2.jpeg">
          <figcaption>지역사업</figcaption>
        </figure>
      </li>
      <li [ngClass]="{active: __currentIndex == 2}">
        <figure (click)="moveTo(2)">
          <img src="/assets/images/category3.jpeg">
          <figcaption>사회적경제</figcaption>
        </figure>
      </li>
      <li [ngClass]="{active: __currentIndex == 3}">
        <figure (click)="moveTo(3)">
          <img src="/assets/images/category4.jpeg">
          <figcaption>교육/문화</figcaption>
        </figure>
      </li>
    </ul>
  </div>
  <div class="arrow" *ngIf="__rgCarouselFactory.arrowVisible" [style.top]="__rgCarouselFactory.arrowPosition.top">
    <div class="left" (click)="moveTo(__currentIndex-1)" [style.left]="__rgCarouselFactory.arrowPosition.left">
      <span>
        <i class="fonti um-arrow-right"></i>
      </span>
    </div>
    <div class="right" (click)="moveTo(__currentIndex+1)" [style.right]="__rgCarouselFactory.arrowPosition.right">
      <span>
        <i class="fonti um-arrow-left"></i>
      </span>
    </div>
  </div>
</div>
