  .wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    height: 75vh;
  }

  .category-description {
    position: absolute;
    top: 0;
    left: calc(40% + 2rem);
    width: calc(60%);
    padding-top: calc(6rem + 0.5rem);
  }

  .category-description>strong {
    font-size: 6vh;
    font-weight: 200;
  }

  .category-summary {
    position: absolute;
    opacity: 0;
    transition: 0.375s;
  }

  .category-summary.active {
    opacity: 1;
    transition: 0.375s;
  }

  .category-description .category-summary h4 {
    font-size: 3vh;
    font-weight: 500;
    margin: 2.5vh 0;
  }

  .category-description .category-summary ul {
    margin: 0;
    padding: 0;
  }

  .category-description .category-summary ul li {
    list-style: none;
    font-size: 1.8vh;
    margin-bottom: 0.5vh;
    font-weight: 200;
  }

  .image-list {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 2rem - 6rem);
    overflow: visible;
  }

  .image-list ul {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transition: 0.375s;
  }

  .image-list ul>li {
    display: inline-block;
    position: relative;
    width: calc(20% - 2rem);
    height: 100%;
    margin: 0 1rem;
    padding: 0;
    list-style: none;
    overflow: hidden;
    transition: 0.375s;
  }

  .image-list ul>li.active {
    transition: 0.375s;
    width: calc(40% - 2rem);
  }

  .image-list ul>li figure {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    transition: 0.375s;
  }

  .image-list ul>li.active figure {
    transition: 0.375s;
    height: 100%;
  }

  .image-list ul>li figure img {
    min-width: 100%;
    height: calc(100% - 2rem);
  }

  .image-list ul>li figure figcaption {
    font-size: 1rem;
    text-align: center;
  }


  .arrow {
    position: absolute;
    top: 50%;
    right: 0;
    width: 7rem;
    transform: translateY(-50%);
  }

  .arrow .left {
    position: absolute;
    left: 1rem;
    z-index: 1;
  }

  .arrow .right {
    position: absolute;
    right: 1rem;
    z-index: 1;
  }

  .arrow div span {
    display: inline-block;
    background-color: #fff;
    opacity: 0.5;
    transition: 0.375s;
    border-radius: 1.2rem;
    padding: 0.5rem;
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
  }

  .arrow div:hover span {
    opacity: 1;
    transition: 0.375s;
  }

  .arrow i {
    font-size: 1.2rem;
  }
