<section id="intro">
  <app-rg-carousel [rgCarouselFactory]="headerCarousel" [fixedSlides]="[fixedSlide]" [slides]="[slide1, slide2, slide3]"></app-rg-carousel>
  <ng-template #fixedSlide>
    <div class="wrapper">
      <div>
        <h1>
          연구자협동조합 <b>지식공방 하우</b>는
        </h1>
        <span class="underlines">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
    </div>
  </ng-template>
  <ng-template #slide1>
    <figure>
      <img src="/assets/images/slide1.jpeg">
    </figure>
    <div class="content">
      <div class="wrapper">
        <div class="thehow-is">
          <p>지식정책 연구자들이<br>경험을 공유하고 협업하는<br><b>'협동조합'</b>입니다.</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #slide2>
    <figure>
      <img src="/assets/images/slide2.jpeg">
    </figure>
    <div class="content">
      <div class="wrapper">
        <div class="thehow-is">
          <p>지식을 가공하여<br>쓸모있는 정책으로 만들어내는<br><b>‘작업공간(공방)’</b>입니다.</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #slide3>
    <figure>
      <img src="/assets/images/slide3.jpeg">
    </figure>
    <div class="content">
      <div class="wrapper">
        <div class="thehow-is">
          <p><b>'어떻게(How)'</b>에<br>주목하는 실천적인<br>연구집단입니다.</p>
        </div>
      </div>
    </div>
  </ng-template>
</section>
<section id="purpose">
  <div class="wrapper">
    <div class="section-title">
      <span class="line"></span>
      <strong>우리는 추구합니다</strong>
    </div>
    <div class="purpose-list">
      <div appUpRiseMotion class="purpose-description">
        <figure>
          <img src="/assets/images/wif.png">
        </figure>
        <div>
          <strong>현장성</strong>
          <p>정책현장을 발로 뛰며 정책수요자들과 이해당사자들을 직접 만나 생생하고 살아있는 현장성 있는 연구성과물을 만듭니다.</p>
        </div>
      </div>
      <div appUpRiseMotion class="purpose-description">
        <figure>
          <img src="/assets/images/wwp.png">
        </figure>
        <div>
          <strong>전문성</strong>
          <p>분야별 전문역량을 갖춘 조합원들이 참여하여 정책의 최신 트렌드와 방향을 정확하게 짚어내고 미래지향적인 연구성과물을 만듭니다.</p>
        </div>
      </div>
      <div appUpRiseMotion class="purpose-description">
        <figure>
          <img src="/assets/images/ei.png">
        </figure>
        <div>
          <strong>실행성</strong>
          <p>연구역량과 행정경험을 겸비한 연구진들이 즉시 실행에 옮길 수 있는, 구체적이고 현실적인 연구성과물을 만듭니다.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="category">
  <div class="bg-color orange"></div>
  <app-rg-carousel2 [rgCarouselFactory]="categoryCarousel"></app-rg-carousel2>
</section>
<section id="reference">
  <div class="wrapper">
    <div class="section-title">
      <span class="line"></span>
      <strong>자료실</strong>
    </div>
    <div>
      <div class="card-list">
        <ul>
          <ng-container *ngFor="let article of articleList$ | async; let index = index">
            <ng-container *ngIf="index < 8">
              <li>
                <app-rg-board-card-summary appUpRiseMotion [boardName]="'reference'" [article]="article"></app-rg-board-card-summary>
              </li>
            </ng-container>
          </ng-container>
        </ul>
      </div>
    </div>
    <div class="more" appUpRiseMotion>
      <a routerLink="/board/reference">
        <i class="fonti um-angle-down"></i>
        <span>more view</span>
      </a>
    </div>
  </div>
</section>
<section id="contact-us">
  <div class="wrapper">
    <div class="section-title">
      <span class="line"></span>
      <strong>CONTACT US</strong>
    </div>
    <div class="description">
      <strong appUpRiseMotion>문의사항이 있으신가요?</strong>
      <p appUpRiseMotion>아래 양식에 이름과 이메일주소, 문의내역을 입력하여 보내주시면 이메일을 통해 바로 답변해드리도록 하겠습니다.</p>
      <form class="ask-form" novalidate [formGroup]="contact" (ngSubmit)="postArticle()" appUpRiseMotion>
        <div>
          <input class="name" formControlName="name" required type="text" placeholder="이름">
          <input class="email" formControlName="email" required type="email" [email]="true" placeholder="이메일주소 (예: user@mail.com)">
        </div>
        <div>
          <textarea placeholder="문의내용을 입력해주세요." formControlName="description" required></textarea>
        </div>
        <div class="options">
          <button type="submit" class="submit">전송</button>
        </div>
      </form>
    </div>
  </div>
</section>
