.wrapper {
  display: block;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.section-title {
  position: relative;
  width: 100%;
  text-align: center;
}

.section-title .line {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 25%;
  width: 50%;
  background-color: #f2ad3c;
  height: 4px;
}

.section-title>strong {
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding: 1rem 2rem;
  font-size: 2.4rem;
  font-weight: 300;
}

#intro {
  background-color: #999;
  height: 50vh;
}

:host>>>.carousel>.fixed-area h1 {
  display: inline-block;
  font-size: 2.6rem;
  font-weight: 200;
  color: #fff;
  margin-top: 3rem;
}

:host>>>.carousel>.fixed-area .underlines {
  display: inline-flex;
  width: 20rem;
  margin-left: 0.5rem;
  flex-direction: row;
}

:host>>>.carousel>.fixed-area .underlines>span {
  display: inline-block;
  width: 5rem;
  height: 3px;
  background-color: #fff;
}

:host>>>.carousel>.slide>ol>li>figure {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:host>>>.carousel>.slide>ol>li>figure>img {
  position: absolute;
  min-height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  /* transform: translate(50%, 50%); */
}


:host>>>.carousel .slide .thehow-is {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  text-align: right;
}

:host>>>.carousel .slide .thehow-is p {
  font-size: 3.4rem;
  font-weight: 200;
  color: #fff;
  line-height: 1.4;
}


:host>>>.carousel .slide .wrapper {
  position: relative;
  height: 100%;
}

#purpose {
  padding: 8vh 0;
}

#purpose .purpose-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#purpose .purpose-list .purpose-description {
  flex: 0.2 0 auto;
  margin: 1.8rem;
  width: 20rem;
}

#purpose .purpose-list .purpose-description figure {
  margin: 3rem auto;
  padding: 0;
  display: block;
  width: calc(100% - 2rem);
}

#purpose .purpose-list .purpose-description figure img {
  width: 100%;
}

#purpose .purpose-list .purpose-description>div {
  width: 100%;
  text-align: center;
}

#purpose .purpose-list .purpose-description>div strong {
  font-size: 1.6rem;
}

#purpose .purpose-list .purpose-description>div p {
  margin: 0;
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.7;
}

#category {
  position: relative;
  margin-bottom: 5rem;
  height: 75vh;
}

#category .bg-color.orange {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 5rem);
  background-color: #fff5ea;
}

#reference {
  padding: 8vh 0;
}

#reference .card-list {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin-left: -1vw;
  margin-right: -1vw;
}

#reference .card-list>ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
#reference .card-list>ul li{
  position: relative;
  display: block;
  margin: 1vw;
  padding: 0;
  list-style: none;
  width: calc(25% - 2vw);
  max-width: calc(426.6666667px - 2vw);
}

#reference .more {
  text-align: center;
  padding: 3rem;
}

#reference .more a,
#reference .more a:visited,
#reference .more a:link,
#reference .more a:hover {
  font-size: 1.4rem;
  font-weight: 300;
  text-decoration: none;
  color: #333;
}

#reference .more a i {
  margin: 0 0.5rem;
}

#reference .more a span {}

#contact-us {
  padding: 8vh 0;
  text-align: center;
}

#contact-us .description strong {
  display: block;
  font-size: 2.4rem;
  margin: 3rem 0;
  font-weight: 400;
}

#contact-us .description p {
  font-size: 1.4rem;
  margin-bottom: 3rem;
  line-height: 1.7;
  font-weight: 300;
}

.ask-form {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.ask-form input {
  font-size: 1.4rem;
  padding: 1rem;
  border: 1px solid #999;
  margin: 0.5rem;
}

.ask-form input.name {
  width: calc(40% - 2rem);
}

.ask-form input.email {
  width: 60%;
}

.ask-form textarea {
  width: calc(100% - 1rem);
  margin: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  min-height: 15rem;
  border: 1px solid #999;
}

.ask-form .options {
  text-align: right;
  padding: 0.5rem;
}

.ask-form .options .submit {
  background-color: #f2ad3c;
  color: #fff;
  box-shadow: none;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  width: 7rem;
  border: none;
}
