<div class="board-info">
  <strong>이용약관 및 법적고지사항</strong>
  <span class="divider"></span>
  <p></p>
</div>

<section>
  <p>지식공방 더하우 홈페이지 방문을 환영합니다.</p>
  <p>지식공방 더하우 홈페이지의 이용과 관련하여 이용자 여러분께 몇 가지 이용약관 및 법적 통지사항을 알려 드리오니 이용자 여러분들께서는 이를 잘 숙지하시어 홈페이지 이용에 착오 없으시길 바랍니다.</p>

  <h1>저작권</h1>

  <p>지식공방 더하우 홈페이지는 지식공방 더하우의 일체의 비용을 투입하여 독점적으로 소유하는 소중한 자산이며, 이들 모두에 관한 저작권 또한 지식공방 더하우에 귀속됩니다. 지식공방 더하우에서 제공하는 모든
    서비스, 자료, 정보들은 비상업적이고 개인적인 용도의 사용을 위하여만 제공되므로, 문자, 그림, 음성, 화상, 내려받기 파일, 링크 및 소스코드들 등 사이트에서 제공되는 서비스, 자료, 정보들(이하
    “정보”라 칭합니다.)을 상업적이거나 공공의 목적으로 내려받거나 수정, 유통, 기타 어떠한 방식으로도 사용할 수 없습니다.</p>
    <p>지식공방 더하우 홈페이지는 일부 문자, 그림을 다음과 같은 오픈소스 제공업체를 통해 획득한 자료를 이용하고 있습니다.</p>
    <ul>
      <li><p>fontium</p></li>
      <li><p>freepik (https://www.freepik.com)</p></li>
      <li><p>iconfinder (https://www.iconfinder.com)</p></li>
    </ul>

  <h1>법적 부인</h1>

  <p>지식공방 더하우 홈페이지는 본 홈페이지 및 다른 관련 사이트들의 서비스와 정보들에 대한 정확도, 신뢰도, 완성도에 대해 보장하지 않으며, 지식공방 더하우 홈페이지에서 제공하는 자료나 표현에 오류가 있을 수
    있음을 유념하시기 바랍니다. 따라서 홈페이지 이용자분들은 당사가 서면으로 보장한 정보가 아닌 한 이 정보에 전적으로 의존하지는 마시기 바랍니다. 특히, 지식공방 더하우 홈페이지의 웹사이트 서비스를 활용해
    개인이나 기업의 이익에 관여되는 판매, 무역, 구매 등의 거래에 직접적인 활용은 삼가해 주시기 바랍니다. 또한, 어떠한 경우에도 지식공방 더하우 홈페이지는 이들 정보나 자료 등으로 인하여 발생하는 직접,
    간접, 부수적, 특별 또는 확대 손해에 대해 책임지지 않음을 알려드립니다.</p>

  <h1>지식공방 더하우 브랜드 도용 금지</h1>

  <p>지식공방 더하우 브랜드를 도용하는 업체에 대하여는 ①상법 제 23조(주체를 오인시킬 상호의 사용금지), ②상표법 제 65조(권리침해에 대한 금지청구권), ③부정경쟁방지법 제4조(부정경쟁 행위의 금지청구권)
    등을 근거로 제재할 수 있으며, 어떠한 경우라도 외부업체가 지식공방 더하우 심볼을 쓰는 경우는 제재 대상이 되므로, 온라인/오프라인 상에서의 지식공방 더하우 브랜드 오도용을 엄격히 규제합니다.</p>

  <h1>링크에 대한 책임</h1>

  <p>지식공방 홈페이지상의 링크된 홈페이지는 모두 고객의 정보획득과 편의를 위하여 제공되는 것입니다. 하지만, 링크 사이트에 대한 어떠한 법적 책임도 지식공방 더하우 홈페이지에 있지 않으며 웹사이트의 신뢰성에
    대한 보장을 하지 않습니다.</p>

  <h1>고지사항의 변경</h1>

  <p>본 내용이 고지된 후에 지식공방 더하우 홈페이지에서 제공하는 서비스를 이용하시는 모든 이용자는 본 고지 내용에 동의하는 것으로 간주됩니다. 지식공방 더하우 홈페이지는 본 고지사항에 명시된 세부항목과 사용
    조건의 변경이유를 홈페이지에 적절한 시간 여유를 가지고 고지하거나, 인터넷 산업의 상관례에 맞추어 적절한 방법으로 사전 통지 없이 수시로 변경할 권리와 권한을 갖고 있습니다. 그러므로 이용자 스스로 법적인
    고지에 대한 세부항목과 조건을 수시로 검열하여 새로이 변경된 사항이나 조건을 알고 계셔야 합니다.</p>

  <p>이상의 법적 고지는 2009년 11월 1일부터 시행합니다.</p>
</section>
