.wrapper{
    margin: 1rem 0;
}
.options{
    text-align: right;
    margin-top: 0.5rem;
}
.mat-selection-list{
    border: 1px solid #999;
    border-radius: 3px;
    background-color: rgba(221, 221, 221, 0.5);
}
.mat-selection-list .mat-list-option{
    padding: 0.5rem;
    border-bottom: 1px solid #999;
    margin: 0;
}
.mat-selection-list .mat-list-option:last-of-type{
    border-bottom: none;
}
.mat-selection-list .mat-list-option input[type=checkbox]{
    display: inline-block;
    margin-right: 0.5rem;
}
.mat-selection-list .mat-list-option .file-info{
    display: inline-block;
    width: calc(100% - 0.5rem - 14px);
}
.mat-selection-list .mat-list-item{
    padding: 0.5rem;
}