<div class="wrapper">
  <div class="mat-selection-list" #uploadedFiles>
    <ng-container *ngIf="uploadedFileList.length > 0">
      <div class="mat-list-option" *ngFor="let uploadedFile of uploadedFileList; let index = index">
        <input type="checkbox" [value]="index" (change)="onSelectionChange($event)">
        <span class="file-info">{{uploadedFile.name}} | {{uploadedFile.size}}mb</span>
      </div>
    </ng-container>
    <ng-container *ngIf="uploadedFileList.length == 0">
      <div class="mat-list-item">파일을 선택해 주세요.</div>
    </ng-container>
  </div>

  <div class="options">
    <div class="on-selected-exist" *ngIf="selectedFilesIndex.length > 0">
      <span>
        선택된 {{selectedFilesIndex.length}}개 파일을
      </span>
      <button class="mat-stroked-button" (click)="removeFiles()">삭제</button>
    </div>
    <div class="on-selected-empty" *ngIf="selectedFilesIndex.length == 0">
      <input #fileSelectElement type="file" multiple style="display:none;" (change)="uploadFiles($event)">
      <button class="mat-button" (click)="fileSelectElement.click()">파일추가</button>
    </div>
  </div>

  <div class="progress-bar" *ngIf="isUploading">
    <strong>Files uploading...</strong>
    <div class="mat-progress-bar example-margin"></div>
  </div>
</div>
