.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel .wrapper{
    margin: 0 auto;
    max-width: 1280px;
}

.carousel>.options {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel>.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel>.slide>ol {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: visible;
  transition: 0.375s;
  list-style: none;
}

.carousel>.slide>ol>li {
  vertical-align: top;
  list-style: none;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel>.slide>ol>li:after {
  clear: both;
}


.carousel>.fixed-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel .slide .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.carousel .options {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel .options .navi {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel .options .navi ol {
  margin: 0;
  padding: 0;
  text-align: center;
}

.carousel .options .navi ol>li {
  display: inline-block;
  list-style: none;
  margin: 0.5rem;
  padding: 0;
}

.carousel .options .navi ol>li>span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.03);
  opacity: 0.5;
  transition: 0.375s;
  z-index: 1;
}

.carousel .options .navi ol>li.active>span {
  transition: 0.375s;
  transform: scale(1.2, 1.2);
  opacity: 1;
}

.carousel .options .arrow {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.carousel .options .arrow .left {
  position: absolute;
  left: 1rem;
  z-index: 1;
}

.carousel .options .arrow .right {
  position: absolute;
  right: 1rem;
  z-index: 1;
}

.carousel .options .arrow div span {
  display: inline-block;
  background-color: #fff;
  opacity: 0.5;
  transition: 0.375s;
  border-radius: 1.2rem;
  padding: 0.5rem;
  width: 2.4rem;
  height: 2.4rem;
  text-align: center;
}

.carousel .options .arrow div:hover span {
  opacity: 1;
  transition: 0.375s;
}

.carousel .options .arrow i {
  font-size: 1.2rem;
}
