<div class="wrapper">
  <div class="flex-spacer"></div>
  <div class="left">
    <figure class="logo">
      <img src="/assets/images/logo.png">
      <figcaption>
        <span>지식공방 <b>하우</b></span>
      </figcaption>
    </figure>
  </div>
  <div class="flex-spacer"></div>
  <div class="right">
    <dl>
      <dt>사업자명</dt>
      <dd>지식공방 하우</dd>
    </dl>
    <dl>
      <dt>사업자번호</dt>
      <dd>261-81-05443</dd>
    </dl>
    <dl>
      <dt>주소</dt>
      <dd>서울특별시 서초구 강남대로 93길 31-4, 잠원동 환명빌딩 602호</dd>
    </dl>
    <dl>
      <dt>대표전화번호</dt>
      <dd>02-547-9059</dd>
    </dl>
    <dl>
      <dt>e-mail</dt>
      <dd>yesjyj63@gmail.com</dd>
    </dl>
    <hr>
    <div class="links">
      <a routerLink="/private">개인정보처리방침</a>
      <span>|</span>
      <a routerLink="/agree">이용약관</a>
    </div>
    <p>Copyright© 2018 지식공방 하우 All Rights Reserved.</p>
  </div>
  <div class="flex-spacer"></div>
</div>
