:host {
  display: block;
  background-color: #333;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem 0;
  position: relative;
  display: flex;
  flex-direction: row;
}

.wrapper,
.wrapper a,
.wrapper p,
.wrapper strong,
.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 {
  color: #fff;
}

.wrapper .flex-spacer {
  flex: 1 1 auto;
}

.wrapper .left {}

.wrapper .left .logo {
  display: block;
  width: 18rem;
  max-width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

.wrapper .left .logo img {
  width: 12rem;
  max-width: 100%;
}

.wrapper .left .logo figcaption {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
  font-size: 2.8rem;
  font-weight: 200;
}

.wrapper .right {}

.wrapper .right .links{
  color: #777;
  font-size: 0.875rem;
  text-align: right;
}
.wrapper .right .links a:link,
.wrapper .right .links a:visited,
.wrapper .right .links a:hover,
.wrapper .right .links a
{
  text-decoration: none;
  font-weight: 700;
  color: #777;
}
.wrapper .right .links span{
  margin: 0 0.5rem;
}
.wrapper .right p {
  color: #777;
  font-size: 1rem;
  text-align: right;
}

.wrapper .right hr {
  border-color: #777;
}

.wrapper .right dl {
  font-size: 0.875rem;
  color: #777;
  margin: 1rem 0;
}

.wrapper .right dl>dt {
  display: inline-block;
  width: 6.3rem;
  margin: 0;
  text-align: right;
}

.wrapper .right dl>dd {
  display: inline-block;
  margin: 0;
  margin-left: 1rem;
}
