.page-header{
    position: relative;
    width: 100%;
    height: 480px;
    overflow: hidden;
    background-color: #333;
}
.page-header figure{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 480px;
    margin: 0;
    padding: 0;
    opacity: 0.7;
    z-index: 1;
}
.page-header figure img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    filter: blur(1px);
    opacity: 0.375;
}
.page-header div{
    position: relative;
    padding-top: 10rem;
    z-index: 2;
    text-align: center;
}
.page-header div .header-line{
    margin: 1rem auto;
}
.page-header div strong{
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}
.page-header div p{
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.7;
}
section{
    padding-top: 50px;
}
section figure{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 320px;
}
section figure img{
    width: 100%;
}
section ul{
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.section-header h1{
    font-weight: 200;
    margin-bottom: 2rem;
}
ul{
    margin: 0;
    padding: 0;
}
ul li h2,
ol li h2{
    font-weight: 300;
}
p{
    color: #666;
    line-height: 1.7;
}
.header-line{
    display: block;
    width: 50px;
    height: 3px;
    margin: 50px 0;
    background-color: #f2ad3c;
}
.section-body{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.golden-circle{
    position: relative;
    width: 100%;
    height: 300px;
}
.golden-circle .circle{
    position: absolute;
    bottom: 0;
    left: 25%;
    border-radius: 50%;
    /* opacity: 0; */
    /* animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32); */
    text-align: center;
    padding-top: 1rem;
    box-shadow: -3px 0px 3px rgba(0,0,0,0.1);
}
.golden-circle .circle:nth-child(1){
    z-index: 3;
    width: 140px;
    height: 140px;
    background-color: deepskyblue;
    margin-left: 20px;
    margin-bottom: 20px;
}
.golden-circle .circle:nth-child(2){
    z-index: 2;
    width: 210px;
    height: 210px;
    background-color: rgb(50, 201, 252);
    margin-left: 10px;
    margin-bottom: 10px;
}
.golden-circle .circle:nth-child(3){
    z-index: 1;
    width: 280px;
    height: 280px;
    background-color: rgb(145, 225, 252);
}
.golden-circle .circle strong{
    font-size: 1.2rem;
}

@keyframes scaleIn {
    from {
      transform: scale(.5, .5);
      opacity: .5;
    }
    to {
      transform: scale(2.5, 2.5);
      opacity: 0;
    }
  }

ul.div-4 li{
    display: inline-block;
    width: 25%;
    vertical-align: top;
    padding: 0.5rem;
}
ul.div-4 li figure{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    text-align: center;
}
ul.div-4 li figure img{
    width: initial;
    height: 100%;
    transition: 0.375s;
    opacity: 0.8;
    transform: scale(0.8, 0.8);
}
ul.div-4 li figure:hover img{
    transition: 0.375s;
    opacity: 1;
    transform: scale(1, 1);
}
ul.div-4 li p {
    line-height: 1.7;
    color: #666;
}
.slider{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slider .nav{
    position: absolute;
    top: 0.63rem;
    left: 0;
    width: 100%;
}
.slider .nav span{
    position: absolute;
    display: inline-block;
    font-size: 1.2rem;
    width: 3rem;
    height: 3rem;
    padding-top: 0.8rem;
    border-radius: 50%;
    text-align: center;
    background-color: #f2ad3c;
    color: #fff;
    cursor: pointer;
}
.slider .nav span.prev{
    left: 30px;
}
.slider .nav span.next{
    right: 30px;
}
.slider ol{
    display: block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    transition: 0.375s;
}
.slider ol li{
    display: inline-block;
    width: 600px;
    margin: 0;
    margin-left: 80px;
    white-space: normal;
    vertical-align: top;
}
.slider ol li:first-of-type{
    margin-left: calc((100% - 1280px)/2);
}