<div class="page-header">
  <figure>
    <img src="assets/images/weare/section-header.jpg">
  </figure>
  <div>
    <strong>
      지식공방 <b>더 하우</b>는
    </strong>
    <span class="header-line"></span>
    <p>개별 정책연구자들의 협동조합 활동을 통하여 <br>
      국가, 지자체, 공·사기업체 등의 정책개발과 컨설팅, 교육연수, 홍보마케팅 등에 필요한 정보와 경험을 공유하고<br>
      주어진 과제에 대하여 협업을 통한 과업수행을 목적으로 하여 설립되었습니다.</p>
  </div>
</div>
<div class="wrapper">
  <section>
    <div class="section-header">
      <span class="header-line"></span>
      <h1>주요 연혁</h1>
    </div>
  </section>
</div>
<div class="slider">
  <div class="nav">
    <span class="prev" *ngIf="sliderCurIndex > 0" (click)="moveSlider('prev')">이전</span>
    <span class="next" (click)="moveSlider('next')">다음</span>
  </div>
  <ol #sliderTarget>
    <li>
      <h2>2013년</h2>
      <div>
        <div>
          <h3>11월</h3>
          <p>협동조합 설립</p>
          <p>조합원 25명(석/박사급, 변호사/회계사 등)</p>
        </div>
        <div>
          <h3>12월</h3>
          <p>법인 등기 및 사업자 등록</p>
        </div>
      </div>
    </li>
    <li>
      <h2>2014년</h2>
      <div>
        <h3>2월</h3>
        <p>학술연구용역 과제 수주</p>
      </div>
      <div>
        <h4>학술연구용역 수행</h4>
        <p>성북구청, 광산구청, 강원도교육청, 충청남도, 강원도청, 지역발전위원회, 광명시청</p>
      </div>
    </li>
    <li>
      <h2>2015년</h2>
      <div>
        <h4>학술연구용역 수행</h4>
        <p>부천문화재단, 강원도청, 경기도청, 아산시청, 수원시청, 성남시청, 소상공인시장진흥공단, 한국산업연구원, 지역발저누이원회, (주)다리컨설팅</p>
      </div>
    </li>
    <li>
      <h2>2016년</h2>
      <div>
        <h4>학술연구용역 수행</h4>
        <p>유성구, 국회사무처, 동작구청, 세종시청, 충남지역사업평가단, 중소기업기술정보진흥원(서강대학교 산학협력단)</p>
      </div>
    </li>
    <li>
      <h2>2017년</h2>
      <div>
        <h4>학술연구용역 수행</h4>
        <p>한국산업기술진흥원, 제주개발공사, 광양시청, 경기도청-(주)브레인파크, 세종시청</p>
      </div>
    </li>
    <li>
      <h2>2018년</h2>
      <div>
        <h4>학술연구용역 수행</h4>
        <p>(주)다리컨설팅, 성북구청, 시흥시청, 부평구청, 부산교육청</p>
      </div>
    </li>
  </ol>
</div>
<div class="wrapper">
  <section appUpRiseMotion>
    <div class="section-header">
      <span class="header-line"></span>
      <h1>지식공방 하우의 <b>PARTICULARITY</b></h1>
    </div>
    <div>
      <ul class="div-4">
        <li>
          <figure>
            <img src="assets/images/weare/icon-universe.png">
          </figure>
          <h2>경험공유</h2>
          <p>집단지성, Gig Economy</p>
          <p>Digital Transformation, Industry 4.0 시대에 맞는 새로운 형태의 지성협의체</p>
        </li>
        <li>
          <figure>
            <img src="assets/images/weare/icon-person-folder.png">
          </figure>
          <h2>협업</h2>
          <p>Tailor-made, 주제에 맞는 전문성을 지닌 조합원들의 시너지</p>
          <p>정책의 최신 트렌드, 방향을 통해 제안하는 미래지향적인 연구성과물</p>
        </li>
        <li>
          <figure>
            <img src="assets/images/weare/icon-bulb.png">
          </figure>
          <h2>실질적 연구</h2>
          <p>다양한 연구역량을 지닌 조합원들이 "HOW"를 집중적으로 연구</p>
          <p>높은 현장성과 실행성을 지닌 연구성과물</p>
        </li>
        <li>
          <figure>
            <img src="assets/images/weare/icon-system.png">
          </figure>
          <h2>Quality Assurance</h2>
          <p>높은 수준의 자체 Quality Assurance</p>
          <p>다층적 검토체계를 통해 쓸모있고, 적시적인 연구성과물</p>
        </li>
      </ul>
    </div>
  </section>
  <section appUpRiseMotion>
    <div class="section-header">
      <span class="header-line"></span>
      <h1>RESEARCH <b>STRATEGY</b></h1>
    </div>
    <div>
      <div class="section-body" style="text-align:center;">
        <figure>
          <img src="assets/images/weare/section1.png">
        </figure>
      </div>
      <div class="section-body">
        <ul>
          <li>
            <h2>다양한 유관기관과의 네트워크</h2>
            <div class="description">
              <p>연계전략 수립 시 실제적인 데이터와 검토의견 반영</p>
            </div>
          </li>
          <li>
            <h2>적재적소 전문가 활용</h2>
            <div class="description">
              <p>짧은 용역기간 내 필요한 전문가를 바로 섭외 및 활용</p>
            </div>
          </li>
          <li>
            <h2>관련사업 수행경험과 전문성</h2>
            <div class="description">
              <p>기 기축된 전문성 및 노하우 활용</p>
            </div>
          </li>
          <li>
            <h2>심리스한 커뮤니케이션 전략</h2>
            <div class="description">
              <p>Gig economy에 적합한 체계적 일정관리 노하우와 긴밀한 보고체계 구축</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div appUpRiseMotion class="section-header">
      <span class="header-line"></span>
      <h1><b>WHY-HOW-WHAT (Golden Circle)</b>에 기반한 사업 근본 목적 진단 및 사업모델 적정성 검토</h1>
    </div>
    <div class="section-body">
      <div class="golden-circle">
        <div appUpRiseMotion class="circle" style="animation-delay: 0s">
          <strong>WHY</strong>
        </div>
        <div appUpRiseMotion class="circle" style="animation-delay: 1s">
          <strong>HOW</strong>
        </div>
        <div appUpRiseMotion class="circle" style="animation-delay: 3s">
          <strong>WHAT</strong>
        </div>
      </div>
    </div>
    <div appUpRiseMotion class="section-body">
      <ul>
        <li>
          <h2><b>WHY</b> 근원적 목표, Vision</h2>
          <p>최종적으로 지향하는 가치 추출</p>
        </li>
        <li>
          <h2><b>HOW</b> 가치실현을 위한 방법론, 요구자원, 전문성 등</h2>
          <p>목표달성을 위해 필요한 자원(기술, 인력, 인프라, 프로세스 등)은 추출</p>
        </li>
        <li>
          <h2><b>WHAT</b> 성과도출</h2>
          <p>도출성과 분석</p>
        </li>
      </ul>
    </div>
  </section>
  <section appUpRiseMotion>
    <div class="section-header">
      <span class="header-line"></span>
      <h1><b>RISK MANAGEMENT</b></h1>
    </div>
    <div>
      <ul class="div-4">
        <li>
          <figure>
            <img src="assets/images/weare/icon-plan.png">
          </figure>
          <h2>일정관리</h2>
          <p>계획 일정에 대한 내부 성과관리를 시행합니다</p>
          <p>일정 문제 발생 시 조기에 발주기관과 협의를 통해 대응방안을 마련합니다</p>
        </li>
        <li>
          <figure>
            <img src="assets/images/weare/icon-calendar.png">
          </figure>
          <h2>정보관리</h2>
          <p>Google Docs, 캘린더 등 다양한 클라우드 서비스를 통해 수행인원 간 정보 및 일정을 실시간으로 공유합니다.</p>
        </li>
        <li>
          <figure>
            <img src="assets/images/weare/icon-group.png">
          </figure>
          <h2>비용관리</h2>
          <p>제한된 예산의 효율성 최적화를 위해 수행기관이 활용 가능한 다른 재원과의 연계 가능성을 검토합니다.</p>
        </li>
        <li>
          <figure>
            <img src="assets/images/weare/icon-talk.png">
          </figure>
          <h2>세부 내역간 방향성 조율</h2>
          <p>3가지 세부 수행내역 간 연계 및 공동의 이해가 필요한 부분을 내부 회의를 통해 추진합니다.</p>
        </li>
      </ul>
    </div>
  </section>
</div>
