.board-info{
    padding: 2rem 0.5rem;
    width: 1280px;
    margin: 0 auto;
}
.board-info strong{
    display: block;
    font-size: 3.5rem;
    font-weight: 300;
    color: #555;
    margin-bottom: 0.5rem;
}
.board-info p{
    color: #777;
}
section:not(:first-of-type){
    width: 100%;
    padding-top: 50px;
    position: relative;
    overflow: hidden;
}
.division{
    text-align: center;
}
.bg-circle{
    width: 200px;
    height: 200px;
    display: inline-block;
    background: url('/assets/images/empty_circle.png');
    background-size: cover;
    font-size: 1.4rem;
    text-align: center;
    padding: 60px 0;
    margin: 10px;
    vertical-align: middle;
    transition: 0.375s;
    border-radius: 50%;
    line-height: 1.7;
    color: black;
    text-decoration: none !important;
}
.bg-circle:hover{
    transition: 0.375s;
    transform: scale(1.4, 1.4);
    background-color: #f2ad3c;
    color: #fff;
}
.header-line{
    display: block;
    width: 50px;
    height: 3px;
    margin: 50px 0;
    background-color: #f2ad3c;
}
.section-header{
    width: 1280px;
    margin: 0 auto;
}
.section-header h1{
    font-weight: 400;
    color: #f2ad3c;
}
.section-header h1 small{
    margin-left: 0.5rem;
    color: #777;
    font-weight: 300;
}
.section-body{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.section-body figure{
    z-index: 1;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.section-body figure img{
    position: relative;
    width: 100%;
    opacity: 0.5;
}
.section-body > div:first-of-type{
    position: relative;
    width: 100%;
    padding: 5rem;
    background-size: cover;
    z-index: 1;
}
.section-body > div:first-of-type::after{
    position: absolute;
    content: "";
    filter:alpha(opacity=50);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: -1;
    background-size: cover;
}
#cat1 .section-body > div:first-of-type::after{
    background: url('/assets/images/category1.jpeg');
}
#cat2 .section-body > div:first-of-type::after{
    background: url('/assets/images/category2.jpeg');
}
#cat3 .section-body > div:first-of-type::after{
    background: url('/assets/images/category3.jpeg');
}
#cat4 .section-body > div:first-of-type::after{
    background: url('/assets/images/category4.jpeg');
}
.section-body > div:last-of-type{
    width: 1280px;
    margin: 0 auto;
    padding: 5rem;
    background-size: cover;
}
.section-body h2{
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 200;
}
.section-body ul{
    width: 1280px;
    margin: 0 auto;
    padding: 0;
}
.section-body ul li{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

ul.research-desc li{
    list-style: none;
    display: inline-block;
    width: 300px;
    max-width: 50%;
    /* height: 300px; */
    min-height: 130px;
    margin: 5px;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.375);
    vertical-align: top;
    transition: 0.375s;
}

ul.research-desc li:hover{
    transition: 0.375s;
    transform: scale(1.2, 1.2);
    background-color: rgba(255,255,255,0.8);
}

ul.research-desc li .icon{
    height: 50%;
    padding: 8px;
    text-align: center;
    display: none;
}
ul.research-desc li img{
    height: 100%;
}
ul.research-desc li hr{
    width: 10%;
    margin: 10px auto;
    border-color: #3498db;
}
ul.research-desc li .text{
    font-size: 1.1rem;
    line-height: 1.6;
    height: 50%;
    padding: 0 8px;
}