<div class="board-info">
  <strong>연구분야</strong>
  <span class="divider"></span>
  <p>분야별 연구 내용 및 실적을 확인하실 수 있습니다.</p>
</div>
<section>
  <div class="division">
    <a routerLink="./" fragment="cat1" class="bg-circle">경영진단<br>/성과평과</a>
    <a routerLink="./" fragment="cat2" class="bg-circle">지역산업<br>/기술경영</a>
    <a routerLink="./" fragment="cat3" class="bg-circle">사회적경제<br>/도시재생</a>
    <a routerLink="./" fragment="cat4" class="bg-circle">교육/문화<br>/상호문화</a>
  </div>
</section>
<section id="cat1">
  <div class="section-header">
    <span class="header-line"></span>
    <h1>경영진단/성과평가<small>연구분과</small></h1>
  </div>
  <div class="section-body">
    <div>
      <ul class="research-desc">
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat1-1.png">
          </div>
          <hr>
          <div class="text">공공DB 구축 및 빅데이터 분석을 통한 정책 수요 분석과 이에 기반한 공공정책 개발</div>
        </li>
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat1-2.png">
          </div>
          <hr>
          <div class="text">공공기관 조직진단 및 경영진단, 성과평가</div>
        </li>
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat1-3.png">
          </div>
          <hr>
          <div class="text">공공기관 및 지방자치단체 중장기 발전계획 수립 </div>
        </li>
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat1-4.png">
          </div>
          <hr>
          <div class="text">지방자치단체 공약이행계획 수립 및 정책수요자 만족도 조사</div>
        </li>
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat1-5.png">
          </div>
          <hr>
          <div class="text">지방자치단체 중기 재정계획 수립</div>
        </li>
      </ul>
    </div>
    <div>
      <h2>연구실적</h2>
      <ul>
        <li>부천시 아트벨리사업 성과분석 및 발전방안 연구 (부천시- 부천문화재단, 2015)</li>
        <li>몽골 중기재정계획 마스터플랜 보고서 (KDI, 2017)</li>
        <li>JDC 면세점 매출한계 원인 분석과 개선방안 (2017)</li>
        <li>KIAT 지역특화산업 성과평가 및 발전방안 연구 (2018)</li>
        <li>경기도 서해안권 관광산업 중장기 발전계획 (안산시 등, 2018)</li>
        <li>부산교육청 조직진단 (2018)</li>
        <li>부평시 행복도시정책 성과평가 및 행복지수 고도화 방안 (2018)</li>
      </ul>
    </div>
  </div>
</section>
<section id="cat2">
  <div class="section-header">
    <span class="header-line"></span>
    <h1>지역산업/기술경영<small>연구분과</small></h1>
  </div>
  <div class="section-body">
    <div>
      <ul class="research-desc">
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat2-1.png">
          </div>
          <hr>
          <div class="text">정부 및 지자체의 지역활성화 정책개발</div>
        </li>
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat2-2.png">
          </div>
          <hr>
          <div class="text">지역산업진흥정책사업 실행계획, 성과제고 방안 연구</div>
        </li>
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat2-3.png">
          </div>
          <hr>
          <div class="text">지역별 산업발전전략 수립을 위한 실태조사 </div>
        </li>
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat2-4.png">
          </div>
          <hr>
          <div class="text">지역혁신체계 구축방안 연구</div>
        </li>
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat2-5.png">
          </div>
          <hr>
          <div class="text">지역특구 및 규제프리존제도 개선방안 연구</div>
        </li>
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat2-6.png">
          </div>
          <hr>
          <div class="text">테크노파크 수출전략 수립을 위한 지역조사</div>
        </li>
      </ul>
    </div>
    <div>
      <h2>연구실적</h2>
      <ul>
        <li>지역특구제도 운영 실태 및 활성화 방안 (지역발전위원회, 2014)</li>
        <li>광명시흥 공공주택지구 해제지역 내 미래전략산업 유치 및 육성방안 (광명시-산업연구원, 2015)</li>
        <li>지역특구제도의 운영 실태와 활성화 방안 Ⅱ (지역발전위원회, 2015)</li>
        <li>지역연고산업육성사업 자원 현황 조사( KIAT, 2015)</li>
        <li>한중FTA를 활용한 지역산업 사업화 성과 제고 방안 (KIAT, 2016)</li>
        <li>중소기업 R&D전문기관으로서의 기정원 발전방향 수립 (중소기업기술정보진흥원-서강대학교 산학협력단, 2016)</li>
        <li>지역특구 및 규제 프리존제도 개선방안 연구 (국회, 2016)</li>
        <li>주력산업 위기 극복 해외사례 조사 (KIAT, 2016)</li>
        <li>지역산업육성사업 수출프로그램 개선 방안 연구 (KIAT, 2017)</li>
        <li>테크노파크별 수출전략 수립을 위한 지역조사 (KIAT-OKTA, 2018) </li>
      </ul>
    </div>
  </div>
</section>
<section id="cat3">
  <div class="section-header">
    <span class="header-line"></span>
    <h1>사회적경제/도시재생<small>연구분과</small></h1>
  </div>
  <div class="section-body">
    <div>
      <ul class="research-desc">
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat3-1.png">
          </div>
          <hr>
          <div class="text">사회적경제 종합 실태조사와 Database 구축</div>
        </li>
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat3-2.png">
          </div>
          <hr>
          <div class="text">사회적경제 중장기 발전계획</div>
        </li>
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat3-3.png">
          </div>
          <hr>
          <div class="text">사회적 기술 벤처기업 육성방안 수립</div>
        </li>
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat3-4.png">
          </div>
          <hr>
          <div class="text">마을공동체 성과분석 및 활성화 방안 연구</div>
        </li>
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat3-5.png">
          </div>
          <hr>
          <div class="text">구도심 활성화 등 도시재생 계획 수립</div>
        </li>
        <li>
          <div class="icon">
            <img src="/assets/images/category/cat3-6.png">
          </div>
          <hr>
          <div class="text">전통시장 및 상점가 활성화 방안 연구</div>
        </li>
      </ul>
    </div>
    <div>
      <h2>연구실적</h2>
      <ul>
        <li>충청남도 (예비)사회적기업 경영진단을 위한 실태조사 (2014)</li>
        <li>강원도 사회적 기술 벤처기업 육성 방안 수립 (2014)</li>
        <li>광명 구도심 재생 및 활성화 방안 (2014)</li>
        <li>성남 지식산업과 사회적경제 연계 방안 (2015)</li>
        <li>경기도 사회적(경제)기업 실태조사 및 경영진단 (2015)</li>
        <li>강원형 사회적경제 육성 모델 발굴 (2015)</li>
        <li>고양시 마을공동체 성과 분석 (2015)</li>
        <li>다문화가정 등 국내 외국인 활용 전통시장 및 상점가 활성화 모델 수립 (소상공인진흥공단, 2015)</li>
        <li>동작구 전통시장 및 상점가 종합발전계획 수립 연구 (2016)</li>
        <li>세종시 사회적경제 육성사업 5개년계획 연구 (2018)</li>
      </ul>
    </div>
  </div>
</section>
<section id="cat4">
  <div class="section-header">
    <span class="header-line"></span>
    <h1>교육/문화/상호문화<small>연구분과</small></h1>
  </div>
  <div class="section-body">
    <div>
      <ul class="research-desc">
        <li>
          <div class="icon"></div>
          <hr>
          <div class="text">외국인주민 관련 지역 현안 문제 해결과 지역사회통합을 위한 정책 개발 추진 및 지역발전과 연계방안 도출</div>
        </li>
        <li>
          <div class="icon"></div>
          <hr>
          <div class="text">외국인주민(중국동포) 실태조사를 통한 지역 내 현황과 특성 및 생태계 등 파악</div>
        </li>
        <li>
          <div class="icon"></div>
          <hr>
          <div class="text">교육청 및 지자체의 교육문화 정책 연구</div>
        </li>
        <li>
          <div class="icon"></div>
          <hr>
          <div class="text">이주배경청소년 실태조사 및 교육방안 연구</div>
        </li>
        <li>
          <div class="icon"></div>
          <hr>
          <div class="text">청년정책 수립을 위한 실태조사와 발전방안 연구</div>
        </li>
      </ul>
    </div>
    <div>
      <h2>연구실적</h2>
      <ul>
        <li>성북 상호문화 체험특구 조성 방안 수립 (2014)</li>
        <li>광산구 주민친화형 다문화정책 개발 (2014)</li>
        <li>강원도 이주배경청소년 교육방안 조사 사업 (2014)</li>
        <li>아산시 외국인주민 조사 및 다문화정책 개발 (2015)</li>
        <li>수원시 중국동포 등 외국인주민 실태조사 및 사회통합정책 개발 (2015)</li>
        <li>노후화 및 안전 관련 교육시설 개선수요 및 예산수요 조사 (국회. 2016)</li>
        <li>순천시 청년정책 실태조사 (2016)</li>
        <li>유성구 평생학습도시사업 성과분석 및 발전방안 연구 (2016)</li>
        <li>빅데이터를 활용한 성북구 평생학습도시사업 성과분석 및 발전방안 연구 (2017)</li>
        <li>광양시 청년정책 방향수립을 위한 실태조사 (2017)</li>
        <li>시흥시 중국동포 등 외국인주민조사 및 사회통합정책 개발(2018)</li>
      </ul>
    </div>
  </div>
</section>
