<div class="wrapper">
  <div class="board-info">
    <strong>로그인</strong>
    <span class="divider"></span>
  </div>
</div>
<div class="wrapper">
  <form class="login" (submit)="submit()">
    <div>
      <label>이메일주소</label>
      <input type="email" name="email" [(ngModel)]="loginUserForm.email">
    </div>
    <div>
      <label>비밀번호</label>
      <input type="password" name="password" [(ngModel)]="loginUserForm.password">
    </div>
    <div>
      <button type="submit" class="submit">로그인</button>
    </div>
    <hr>
    <div class="other-page-link-list">
      <a routerLink="/auth/join">가입신청</a>
    </div>
  </form>
</div>
