.mat-card {
  margin: 5px;
}

.mat-card-actions {
  text-align: right;
}

.article-writer .article-title {
  width: 100%;
}

.article-viewer .mat-card-content {
  padding-top: 16px;
}

.checkboxes {
  padding-top: 0.5rem;
}

.lang-code-select {
  width: 50%;
}
.article-title input{
  width: 100%;
}
.tag-list{
  width: 100%;
}
.tag-list ol.saved-tag-list{
  display: block;
  margin: 0;
  padding: 0;
}
.tag-list ol.saved-tag-list li{
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  list-style: none;
  background-color: #f2ad3c;
  color: #fff;
}
.tag-list ol.saved-tag-list li a{
  margin-left: 0.3rem;
}
.tag-list ol.saved-tag-list li:last-of-type{
  background-color: #ebcb98;
}
.tag-list .tag-input{
  position: relative;
  display: inline-block;
  width: 200px;
  height: calc(36px - 1rem);
}
.tag-list .tag-input .matInput{
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: #fff;
}
.tag-list .tag-input .matInput:focus{
  border: none;
  box-shadow: none;
}
.tag-list .tag-input .matInput::placeholder{
  color: #fff;
}
.tag-list .tag-input ol.searched-tag-list{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0 0 0.3rem 0.3rem;
  border: 1px solid #999;
  box-shadow: 0 0 3px #999;
}
.tag-list .tag-input ol.searched-tag-list li{
  display: block;
  margin: 0;
  padding: 0.5rem;
  background-color: #fff;
  color: #333;
}
.tag-list .tag-input ol.searched-tag-list li:hover{
  background-color: #f2ad3c;
  color: #fff;
}