<div class="article-writer">
  <div class="mat-card-subtitle">
    <div class="mat-form-field article-title">
      <input class="matInput" type="text" [(ngModel)]="article.title" placeholder="제목을 작성해 주세요.">
      <p class="mat-error" *ngIf="!article.title">
        제목을 작성해 주세요.
      </p>
    </div>
  </div>
  <div class="mat-card-content">
    <app-rg-file-uploader (onFileUploadComplete)="article.fileList = $event" [uploadedFileList]="article.fileList"></app-rg-file-uploader>
    <!-- use with ngModel -->
    <quill-editor [(ngModel)]="article.description" [options]="editorOptions"></quill-editor>
    <!-- <div class="checkboxes">
      <mat-checkbox [(ngModel)]="article.in_private">{{'board.비공개게시물지정안내' | translate}}</mat-checkbox>
    </div> -->
  </div>
  <div class="tag-list">
    <p>이 글에 지정된 태그</p>
    <hr>
    <ol class="saved-tag-list">
      <li *ngFor="let tag of article.tagList; let index = index">
        <span>{{tag}}</span>
        <a (click)="onTagDelete(index)">
          <i class="fonti um-times-circle"></i>
        </a>
      </li>
      <li>
        <div class="tag-input">
          <input #tagInput class="matInput" type="text" (keyup)="onTagInputChange($event)" placeholder="태그를 입력해주세요.">
          <ol #searchTagList class="searched-tag-list">
            <li *ngFor="let tag of searchedTagList; let index = index;">
              <a (click)="selectTag(index)">{{tag}}</a>
            </li>
          </ol>
        </div>
      </li>
    </ol>
  </div>
</div>
