:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
  z-index: 1000;
  background-color: #fff;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: 122px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.wrapper a,
.wrapper a:hover,
.wrapper a:link,
.wrapper a:visited {
  text-decoration: none;
  color: #333;
}

.wrapper button,
.wrapper button:checked {
  text-decoration: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.flex-spacer {
  flex: 1 1 auto;
}

.wrapper .left {
  position: relative;
  max-height: 100%;
}

.wrapper .left .logo {
  display: block;
  height: 100%;
  overflow: hidden;
}

.wrapper .left .logo img {
  position: relative;
  height: 100%;
  transition: 0.375s;
  z-index: 1000;
}
.wrapper .left .logo:hover img{
  transform: translateY(-12.5%) scale(0.5, 0.5);
  transition: 0.375s;
}

.logo span{
  display: block;
  text-align: center;
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
  z-index: 900;
  opacity: 0;
  transition: 0.375s;
  font-size: 1rem;
}
.logo span > strong{
  font-size: 1.2rem;
}
.logo:hover span{
  opacity: 1;
  transition: 0.375s;
}

.wrapper .middle {
  padding: 0 2vw;
  height: 100%;
}

.wrapper .right {
  padding: 2vw;
  max-height: 100%;
}

.wrapper .middle nav {
  height: 100%;
}

.wrapper ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.wrapper ul>li {
  list-style: none;
  margin: 0;
  padding: 0 14px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.375s;
  border-bottom: 2px solid transparent;
}

.wrapper nav li.actived {
  transition: 0.375s;
  font-weight: 500;
  border-bottom: 2px solid #f2ad3c;
}

.wrapper ul>li a {
  display: block;
}

.wrapper ul>li button {
  display: block;
}
