<div class="wrapper">
  <div class="left">
    <div class="logo">
      <a href="/">
        <span>지식공방 <strong>하우</strong></span>
        <img src="/assets/images/logo.png">
      </a>
    </div>
  </div>
  <div class="flex-spacer"></div>
  <div class="middle">
    <nav>
      <ul>
        <li routerLinkActive="actived">
          <a routerLink="/introduce/weare">지식공방 하우</a>
        </li>
        <li routerLinkActive="actived">
          <a routerLink="/introduce/category">연구분야</a>
        </li>
        <li routerLinkActive="actived">
          <a routerLink="/board/reference">자료실</a>
        </li>
        <li routerLinkActive="actived">
          <a routerLink="/introduce/contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="flex-spacer"></div>
  <div class="right">
    <div class="options">
      <ul>
        <li *ngIf="!(user | async)?.uid" routerLinkActive="actived">
          <button routerLink="/auth/login">로그인</button>
        </li>
        <li *ngIf="!(user | async)?.uid" routerLinkActive="actived">
          <button routerLink="/auth/join">회원가입</button>
        </li>
        <li *ngIf="(user | async)?.uid">
          <button routerLink="/auth/logout">로그아웃</button>
        </li>
        <!-- <li routerLinkActive="actived">
          <button routerLink="/sitemap">사이트맵</button>
        </li> -->
      </ul>
    </div>
  </div>
</div>
