.board-info{
    padding: 2rem 0.5rem;
    width: 1280px;
    margin: 0 auto;
}
.board-info strong{
    display: block;
    font-size: 3.5rem;
    font-weight: 300;
    color: #555;
    margin-bottom: 0.5rem;
}
.board-info p{
    color: #777;
}
section{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    line-height: 1.7;
    padding-bottom: 100px;
}
section h1{
    font-size: 1.4rem;
}
section h2{
    font-size: 1.2rem;
    color: #555;
}
section ol,
section ul{
    list-style: none;
}