.board-info {
  padding: 2rem 0.5rem;
  padding-bottom: 0;
  width: 1280px;
  margin: 0 auto;
}

.board-info strong {
  display: block;
  font-size: 3.5rem;
  font-weight: 300;
  color: #555;
  margin-bottom: 0.5rem;
}

.board-info p {
  color: #777;
}

#contact-us {
  padding: 5vh 0;
  text-align: center;
}

#contact-us .description strong {
  display: block;
  font-size: 2.4rem;
  margin: 3rem 0;
  font-weight: 400;
}

#contact-us .description p {
  font-size: 1.4rem;
  margin-bottom: 3rem;
  line-height: 1.7;
  font-weight: 300;
}

.ask-form {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.ask-form input {
  font-size: 1.4rem;
  padding: 1rem;
  border: 1px solid #999;
  margin: 0.5rem;
}

.ask-form input.name {
  width: calc(40% - 2rem);
}

.ask-form input.email {
  width: 60%;
}

.ask-form textarea {
  width: calc(100% - 1rem);
  margin: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  min-height: 15rem;
  border: 1px solid #999;
}

.ask-form .options {
  text-align: right;
  padding: 0.5rem;
}

.ask-form .options .submit {
  background-color: #f2ad3c;
  color: #fff;
  box-shadow: none;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  width: 7rem;
  border: none;
}
