<div class="board-info">
  <strong>CONTACT US</strong>
  <span class="divider"></span>
  <p>지식공방 하우와 함께하세요.</p>
</div>

<section id="contact-us">
  <div class="wrapper">
    <div class="description">
      <strong appUpRiseMotion>문의사항이 있으신가요?</strong>
      <p appUpRiseMotion>아래 양식에 이름과 이메일주소, 문의내역을 입력하여 보내주시면 이메일을 통해 바로 답변해드리도록 하겠습니다.</p>
      <form class="ask-form" novalidate [formGroup]="contact" (ngSubmit)="postArticle()" appUpRiseMotion>
        <div>
          <input class="name" formControlName="name" required type="text" placeholder="이름">
          <input class="email" formControlName="email" required type="email" [email]="true" placeholder="이메일주소 (예: user@mail.com)">
        </div>
        <div>
          <textarea placeholder="문의내용을 입력해주세요." formControlName="description" required></textarea>
        </div>
        <div class="options">
          <button type="submit" class="submit">전송</button>
        </div>
      </form>
    </div>
  </div>
</section>

<section id="etc">
  <div class="wrapper"></div>
</section>
