/* You can add global styles to this file, and also import other style files */

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
  font-family: "IropkeBatangM";
  src: url('/assets/fonts/IropkeBatangM_web/IropkeBatangM.woff') format('woff'), url('/assets/fonts/IropkeBatangM_web/IropkeBatangM.eot') format('embedded-opentype');
}

* {
  /* font-family: "IropkeBatangM"; */
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

::selection {
  background: #f2ad3c;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: #f2ad3c;
  color: #FFF;
  text-shadow: none;
}

::-webkit-selection {
  background: #f2ad3c;
  color: #FFF;
  text-shadow: none;
}

span.divider {
  display: block;
  width: 200px;
  height: 2px;
  background-color: #f2ad3c;
}

.wrapper {
  display: block;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

a, button{
  cursor: pointer;
}