<ng-container *ngIf="boardInfo$ | async as boardInfo">
  <div class="wrapper">
    <div class="board-info">
      <strong>자료실</strong>
      <span class="divider"></span>
      <p>연구자협동조합 지식공방 하우의 분야별 및 키워드별 연구실적을 확인하실 수 있습니다.</p>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="wrapper">
    <hr>
    <form class="search-options">
      <div class="keyword-input">
        <input #keyword type="text" placeholder="검색어 입력">
        <button (click)="search(keyword.value)">
          <i class="fonti um-search-alt-o"></i>
        </button>
      </div>
    </form>
    <div class="board-options">
      <ng-container *ngIf="user$ | async as user">
        <ng-container *ngIf="hasPermission$ | async as hasPermission">
          <a [routerLink]="['./', 'article', 'add']">게시물 작성</a>
        </ng-container>
      </ng-container>
    </div>
    <div class="tag-list">
      <ng-container *ngIf="tagList$ | async as tagList">
        <ul>
          <li>
            <a class="tag" [ngClass]="{selected : !queryParams['tag']}" (click)="searchByTag('')">전체</a>
          </li>
          <li *ngFor="let tag of tagList">
            <a class="tag" [ngClass]="{selected : queryParams['tag'] == tag}" (click)="searchByTag(tag)">{{tag}}</a>
          </li>
        </ul>
      </ng-container>
    </div>
    <hr>
    <div class="card-list">
      <ul>
        <li *ngFor="let article of articleList$ | async">
          <app-rg-board-card-summary [boardName]="boardInfo.name" [article]="article"></app-rg-board-card-summary>
        </li>
      </ul>
    </div>
    <div class="pagination">
      <ol>
        <li>
          <a [routerLink]="['./']" [queryParams]="{'page': 1}" queryParamsHandling="merge" class="spec">처음</a>
        </li>
        <li *ngFor="let p of pagination">
          <a [routerLink]="['./']" [queryParams]="{'page': p}" queryParamsHandling="merge" [ngClass]="p == currentPage ? 'active' : ''">{{p}}</a>
        </li>
        <li>
          <a [routerLink]="['./']" [queryParams]="{'page': lastPage}" queryParamsHandling="merge" class="spec">마지막</a>
        </li>
      </ol>
    </div>
  </div>
</ng-container>
