.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.board-info{
    padding: 2rem 0.5rem;
}
.board-info strong{
    display: block;
    font-size: 3.5rem;
    font-weight: 300;
    color: #555;
    margin-bottom: 0.5rem;
}
.board-info p{
    color: #777;
}

.search-options {
  margin: 1vw;
  margin-top: 2vw;
}

.keyword-input {
  text-align: center;
}

.keyword-input * {
  font-size: 1.875rem;
  vertical-align: middle;
}

.keyword-input input {
  height: 3rem;
  border: none;
  transition: 0.375s;
  border-bottom: 1px solid #f2ad3c;
}

.keyword-input input:focus {
  height: 4rem;
  transition: 0.375s;
  border-bottom: 2px solid #f2ad3c;
  outline: none;
}

.keyword-input i {
  color: #f2ad3c;
}

.keyword-input button {
  width: 3rem;
  height: 3rem;
  border: none;
  box-shadow: none;
  background-color: transparent;
}
.board-options{
  text-align: right;
}
.tag-list{

}
.tag-list ul{
  margin: 0;
  padding: 0;
}
.tag-list ul li{
  display: inline-block;
  list-style: none;
  margin: 0.25rem;
  padding: 0;
}
.tag-list ul li .tag{
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #dfbf8c;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.2rem;
}
.tag-list ul li .tag.selected{
  background-color: #f2ad3c;
  color: #fff;
}
.card-list {
  position: relative;
  width: 100%;
  min-height: 640px;
}

.card-list>ul {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.card-list>ul li{
  position: relative;
  display: block;
  margin: 1vw;
  padding: 0;
  list-style: none;
  width: calc(20% - 2vw);
  max-width: calc(426.6666667px - 2vw);
}

.pagination{
  display: block;
  width: 100%;
  padding: 2rem 1rem;
}
.pagination a,
.pagination a:visited,
.pagination a:link,
.pagination a:hover
{
  text-decoration: none;
}
.pagination ol{
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.pagination ol li{
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(223, 223, 223);
  border-right: none;
}
.pagination ol li:last-of-type{
  border-right: 1px solid rgb(223, 223, 223);
}
.pagination ol li a{
  display: block;
  font-size: 1.2rem;
  width: 3rem;
  height: 3rem;
  padding: 0.9rem 0;
  text-align: center;
  color: black;
}
.pagination ol li a.spec{
  width: 5rem;
  color: gray;
}
.pagination ol li a.active{
  background-color: #f2ad3c;
  color: #fff;
  transform: scale(1.2, 1.2);
}