<div class="wrapper">
  <div class="board-info">
    <strong>회원가입</strong>
    <span class="divider"></span>
  </div>
</div>
<div class="wrapper">
  <form class="login" (submit)="submit()">
    <div>
      <label>이메일주소</label>
      <input type="email" name="email" [(ngModel)]="joinUserForm.email">
    </div>
    <div>
      <label>비밀번호</label>
      <input type="password" name="password" [(ngModel)]="joinUserForm.password">
    </div>
    <div>
      <label>비밀번호 확인</label>
      <input type="password" name="password_check" (keyup)="checkPassword($event.target.value)">
      <ng-container *ngIf="isVisiblePasswordMathedError">
        <p *ngIf="isPasswordMatched" class="password matched">비밀번호가 일치합니다.</p>
        <p *ngIf="!isPasswordMatched" class="password not-matched">비밀번호가 일치하지 않습니다.</p>
      </ng-container>
    </div>
    <div>
      <label>이름</label>
      <input type="text" name="name" [(ngModel)]="joinUserForm.name">
    </div>
    <div>
      <label>연락처</label>
      <input type="tel" name="phone" [(ngModel)]="joinUserForm.phone">
    </div>
    <hr>
    <div>
      <label>
        <input type="checkbox" name="isAgree" [(ngModel)]="joinUserForm.isAgree">
        <span>본 사이트 <a>이용약관</a>에 동의합니다.</span>
      </label>
    </div>
    <div>
      <button type="submit" class="submit">회원가입</button>
    </div>
  </form>
</div>
