.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.board-info {
  padding: 2rem 0.5rem;
}

.board-info strong {
  display: block;
  font-size: 3.5rem;
  font-weight: 300;
  color: #555;
  margin-bottom: 0.5rem;
}

.board-info p {
  color: #777;
}

form.login {
  display: block;
  width: 100%;
  max-width: 640px;
  margin: 5rem auto;
}

form.login > div{
  margin: 0.25rem 0;
}

form.login * {
  font-size: 1.875rem;
  vertical-align: middle;
}

form.login label {
  display: block;
  font-size: 1rem;
  margin: 0.5rem 0;
}
form.login label *{
  font-size: 1rem;
  display: inline;
  vertical-align: bottom;
}

form.login input[type=checkbox]{
  margin: 0 0.25rem;
  vertical-align: text-bottom;
}

form.login input:not([type=checkbox]) {
  width: 100%;
  margin: 0;
  height: 3rem;
  border: none;
  transition: 0.375s;
  border-bottom: 1px solid #f2ad3c;
}

form.login input:not([type=checkbox]):focus {
  height: 4rem;
  transition: 0.375s;
  border-bottom: 2px solid #f2ad3c;
  outline: none;
}

form.login hr {
  margin: 2rem 0 0 0;
  border-top: #999;
}

form.login .password{
  font-size: 0.875rem;
  margin: 0.5rem 0;
  padding: 0;
}
form.login .password.not-matched{
  color: red;
}
form.login .password.matched{
  color: #f2ad3c;
}

form.login button.submit,
form.login button.submit:active {
  width: 100%;
  background-color: #f2ad3c;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  margin: 1rem 0 .5rem 0;
  padding: 1rem;
  color: #fff;
  font-size: 1.4rem;
}

.other-page-link-list {
  text-align: right;
}

.other-page-link-list a {
  font-size: 0.875rem;
}
