<div class="wrapper">
  <ng-container *ngIf="article$ | async as article">
    <header>
      <div class="tag-list">
        <ul>
          <li *ngFor="let tag of article.tagList">
            <a class="tag">{{tag}}</a>
          </li>
        </ul>
      </div>
      <div class="title">
        <h1>{{article.title}}</h1>
      </div>
      <div class="subheader">
        <span class="author">작성자 : {{article.guest.name}}</span>
        <span class="reg-date">작성시각 : <span [pydate]='article.regDate' [format]="'yyyy/mm/dd hh:mm'">{{article.regDate}}</span></span>
        <span class="view-count">조회수 : {{article.viewCount}}</span>
      </div>
    </header>
    <section class="file-list">
      <ul>
        <ng-container *ngFor="let file of article.fileList;">
          <li>
            <div class="filename">
              <span>{{file.name}}</span>
            </div>
            <div class="flex-spacer"></div>
            <div class="file-size-mb">{{file.size}}mb</div>
            <div class="options">
              <a class="download" href="{{apiURL + '/board/file/' + file.id}}" download="{{file.name}}">열기</a>
            </div>
          </li>
        </ng-container>
      </ul>
    </section>
    <section class="description">
      <pre [innerHTML]="article.description"></pre>
    </section>
    <div class="article-options">
      <div *ngIf="meta$ | async as meta">
        <a class="prev" *ngIf="meta.prev_cid" [routerLink]="['../', meta.prev_cid]" queryParamsHandling="merge">이전</a>
        <a class="next" *ngIf="meta.next_cid" [routerLink]="['../', meta.next_cid]" queryParamsHandling="merge">다음</a>
        <a class="list" (click)="gotoList()">목록으로</a>
      </div>
      <div class="flex-spacer"></div>
      <div>
        <ng-container *ngIf="user$ | async as user">
          <ng-container *ngIf="user.uid && user.uid == article.guest.uid">
            <a class="modify" [routerLink]="['./', 'edit']">수정</a>
            <button class="remove" (click)="deleteArticle()">삭제</button>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
