:host >>> a,
:host >>> a:link,
:host >>> a:visited,
:host >>> a:hover{
  text-decoration: none;
}
.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  margin-bottom: 100px;
}

header {
  width: 100%;
  border-bottom: 2px solid #f2ad3c;
  padding: 1rem 0.5rem;
}

header .title {}

header .title h1 {
    font-size: 2rem;
    font-weight: 300;
}

header .subheader {}

header .subheader>span {
  margin-right: 1rem;
  color: #777;
}

header .subheader .auther {}

header .reg-date {}

header .view-count {}

.file-list {
  padding: 1rem 0.5rem;
}

.file-list>ul {
  margin: 0;
  padding: 0;
}

.file-list>ul>li {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  transition: 0.375s;
}

.file-list>ul>li:hover{
    transition: 0.375s;
    background-color: #f2ac3c34;
}

.file-list>ul>li .flex-spacer {
  flex: 1 1 auto;
}

.file-list>ul>li .filename {
    font-size: 1rem;
    padding: 0.5rem;
}

.file-list>ul>li .file-size-mb{
    font-size: 1rem;
    padding: 0.5rem;
    color: #777;
}

.file-list>ul>li .options {}

.file-list>ul>li .options .download {
  display: block;
  border-radius: 3px;
  padding: 0.5rem;
  background-color: #f2ad3c;
  color: #fff;
  font-size: 1rem;
}

.description {
  border-top: 1px solid rgba(0,0,0,0.375);
  border-bottom: 2px solid #f2ad3c;
  padding: 0.5rem;
}

.description pre {}

.article-options {
  display: flex;
  padding: 1rem 0.5rem;
  flex-direction: row;
}

.article-options .flex-spacer {
  flex: 1 1 auto;
}

.article-options a,
.article-options a:link,
.article-options a:any-link,
.article-options a:visited,
.article-options button {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 3px;
  /* background-color: transparent; */
  background-color: #f2ad3c;
  box-shadow: none;
  border: none;
  padding: 0.875rem 0.375rem;
  margin: 0.25rem;
  width: 7rem;
  vertical-align: text-top;
  text-align: center;
}

.article-options .prev {
  background-color: antiquewhite;
  color: #fff;
}

.article-options .next {
  background-color: antiquewhite;
  color: #fff;
}

.article-options .list {
  background-color: transparent;
  color: black;
}

.article-options .modify {
  background-color: transparent !important;
  color: blue;
}

.article-options .remove {
  background-color: transparent !important;
  color: red;
}

.tag-list{

}
.tag-list ul{
  margin: 0;
  padding: 0;
}
.tag-list ul li{
  display: inline-block;
  list-style: none;
  margin: 0.5rem;
  padding: 0;
}
.tag-list ul li .tag{
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #f2ad3c;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}